.btn-outline-secondary {
    color:#CCC;
    border-radius: 2px;
    font-size:19px;
    text-align:center;
}
.navResponsiva {
    display:none;
}

#imagemHeader {
    background-image: url("/one-page-layout/assets/images/img1.jpg");
    background-position: center;
    background-size: cover;
    height:75vh;
    width:100vw;
}
#titulo1 {
    color: #FFF;
    font-size:72px;
    text-shadow: 2px 2px #000;
}
#span1 {
    color: rgb(228, 226, 226);
    font-size:26px;
}

@media (max-width: 768px) { 
    .navDesktop {
        display:none;
    }
    .navResponsiva {
        display:flex;
    }
    #titulo1 {
        font-size:55px;
    }
    #span1 {
        font-size:20px;
    }
}

@media (max-width: 991px) {
    .card-deck {
        flex-direction:column;
        max-width:500px;
    }  
    #cards1 {
        display:flex;
        justify-content:center;
    } 
}